body {
  color: white;
  display: flex;
  flex-flow: row-reverse wrap;
  display: grid;
  grid-gap: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

h2 {
  grid-column: span 2;
  color: blanchedalmond;
  font-size: 300%;
}

h3 {
  grid-column: span 2;
  font-size: xx-large;
}

img {
  width: 600px;
  height: auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
  background-color: rgba(223, 235, 223, 0.315);
  background-position: center;
}

footer {
  background-color: rgba(223, 235, 223, 0.315);
  text-align: center;
}
